<%= form_for([@daily_opioid.patient, @daily_opioid]) do |f| %>
  <% if @daily_opioid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_opioid.errors.count, "error") %> prohibited this daily_opioid from being saved:</h2>

      <ul>
      <% @daily_opioid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date, id: :daily_opioid_date %>
  </div>

  <div class="field">
    <%= f.label :order_number %>
    <%= f.number_field :order_number, id: :daily_opioid_order_number %>
  </div>

  <div class="field">
    <%= f.label :type_of_opioid %>
    <%= f.text_field :type_of_opioid, id: :daily_opioid_type_of_opioid %>
  </div>

  <div class="field">
    <%= f.label :PRN %>
    <%= f.check_box :PRN, id: :daily_opioid_PRN %>
  </div>

  <div class="field">
    <%= f.label :dose %>
    <%= f.number_field :dose, id: :daily_opioid_dose %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
