<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<table>
  <thead>
    <tr>
      <th>MTID</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Length of Stay</th>
      <th>Expired</th>
      <th>Level of Education</th>
      <th>Primary Diagnosis</th>
      <th>Brain Metastases</th>
      <th>Liver Metastases</th>
      <th>Hepatic Encephalopathy</th>
      <th>Delirium</th>
      <th>Dementia</th>
      <th>CAM</th>
      <th>CVA</th>
      <th>Nonverbal</th>
      <th>Hearing Impaired</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to patient.mtid, patient %></td>
        <td><%= patient.age %></td>
        <td><%= patient.sex %></td>
        <td><%= patient.length_of_stay %></td>
        <td><%= patient.expired %></td>
        <td><%= patient.level_of_education %></td>
        <td><%= patient.primary_diagnosis %></td>
        <td><%= patient.brain_metastases %></td>
        <td><%= patient.liver_metastases %></td>
        <td><%= patient.hepatic_encephalopathy %></td>
        <td><%= patient.delirium %></td>
        <td><%= patient.dementia %></td>
        <td><%= patient.cam %></td>
        <td><%= patient.cva %></td>
        <td><%= patient.nonverbal %></td>
        <td><%= patient.hearing_impaired %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Patient', new_patient_path %>
<br>
<hr>
<iframe width="560" height="315" src="https://www.youtube.com/embed/owsfdh4gxyc" frameborder="0" allowfullscreen></iframe>
<br>
