<p>
  <strong>MTID:</strong>
  <%= @patient.mtid %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @patient.sex %>
</p>

<p>
  <strong>Length of Stay:</strong>
  <%= @patient.length_of_stay %>
</p>

<p>
  <strong>Expired:</strong>
  <%= @patient.expired %>
</p>

<p>
  <strong>Level of Education:</strong>
  <%= @patient.level_of_education %>
</p>

<p>
  <strong>Primary Diagnosis:</strong>
  <%= @patient.primary_diagnosis %>
</p>

<p>
  <strong>Brain Metastases:</strong>
  <%= @patient.brain_metastases %>
</p>

<p>
  <strong>Liver Metastases:</strong>
  <%= @patient.liver_metastases %>
</p>

<p>
  <strong>Hepatic Encephalopathy:</strong>
  <%= @patient.hepatic_encephalopathy %>
</p>

<p>
  <strong>Delirium:</strong>
  <%= @patient.delirium %>
</p>

<p>
  <strong>Dementia:</strong>
  <%= @patient.dementia %>
</p>

<p>
  <strong>CAM:</strong>
  <%= @patient.cam %>
</p>

<p>
  <strong>CVA:</strong>
  <%= @patient.cva %>
</p>

<p>
  <strong>Nonverbal:</strong>
  <%= @patient.nonverbal %>
</p>

<p>
  <strong>Hearing Impaired:</strong>
  <%= @patient.hearing_impaired %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>

<hr>

<%= link_to 'Lab Results', patient_lab_results_path(@patient) %> |
<%= link_to 'Daily Opioids', patient_daily_opioids_path(@patient) %> |
<%= link_to 'Pain Scores', patient_pain_scores_path(@patient) %> |
<%= link_to 'Orientations', patient_orientations_path(@patient) %> |
<%= link_to 'Music Therapy', patient_music_therapies_path(@patient) %>

